body {
    background-color: #e1eef6;
    color: #004e66;
}

h1 {
    font-size: 30px;
    
}

a {
    text-decoration: none;
    color: #ff5f2e;
}

.header {
    position: absolute;
    top: 10px;
    margin: 0px 0px 0px 10px;
}

.flex-end {
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.flex-center {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.option-list {
    display: flex;
    margin-top: 30px;
    
}

.flex-1 {
    flex: 1;
}

.text-center {
    text-align: center;
}

.option {
    padding: 10px 5px 10px 5px;
}

.current {
    font-weight: 900;
}

.footer {
    position: absolute;
    bottom: 10px;
    margin: 0px 0px 0px 10px;
}

.author {
    color: #fcbe32;
}